html{
    overflow-x:hidden;
}
body{
    background-color: #ecf1f8;
}
h1:first-letter {
    font-size: 2em;
    color: #7172ac;
  }
h2{
    padding: 0.3em 0.4em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #7db4e6;/*左線*/
    border-bottom: solid 5px #d7d7d7;/*下線*/
}
td.scroll_go{
    font-size: 15px;
}
td.feature{
    font-size: 15px;
}
td.class_teacher_name{
    font-size: 15px;
}
td.event_occurred_during_enrollment{
    font-size: 15px;
}
.oohata_comment{
    font-size: 15px;
}
.touge_comment{
    font-size: 15px;
}
.nakai_comment{
    font-size: 15px;
}