/* Google Fontsを追加 */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* 基本スタイル */
html {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #ecf1f8;
    margin: 0;
    padding: 0;
}
header {
    background-color: #7db4e6;
    color: #fff;
    padding: 20px;
    text-align: center;
}
h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}
main {
    padding: 20px;
}
#introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.wrap {
    display: flex;
    align-items: center;
    height: 300px;
    overflow: hidden;
}
.slideshow {
    display: flex;
    animation: loop-slide 20s infinite linear;
}
.slideshow li {
    list-style: none;
}
.content {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
@keyframes loop-slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

/* 詳細セクションのスタイル */
#details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}
#details p {
    font-size: 1em;
    margin: 10px 0;
}

/* コメントセクションのスタイル */
.comment {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.one_comment {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 700;
}
.comment p {
    font-size: 1em;
    margin: 10px 0;
}

/* フッタースタイル */
footer {
    background-color: #7db4e6;
    color: #fff;
    text-align: center;
    padding: 1px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
}
/* ボタンのテキストを黒色に設定 */
button {
    background-color: #7db4e6; /* 背景色を統一 */
    color: black; /* テキストの色を黒に設定 */
    border: none; /* 枠線を消す */
    padding: 10px 20px; /* パディングを追加してサイズを調整 */
    border-radius: 4px; /* 角を丸くする */
    cursor: pointer; /* マウスカーソルを指示棒に変更 */
    font-family: 'Roboto', sans-serif; /* フォントを統一 */
    font-weight: 700; /* 太字に設定 */
}

button a {
    color: black; /* リンクのテキストの色を黒に設定 */
    text-decoration: none; /* 下線を消す */
}

button:hover {
    background-color: #5d94c9; /* マウスホバー時の色変更 */
}

footer p {
    margin: 0;
}
